$headerBackground: url(../img/header_background_v2.jpg);
$headerFontColor: orange;
$mainBackground: #f1eded;
$buttonColor:rgb(0, 3, 174);
$navBorderColor: white;
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSize: 15px/24px;
$mainTextColor: gray;
$colorDescription: gray;
$descriptionBorder: gray;
$articleBackground:white;
$articleTitleColor: gray;