$headerBackground: url(../img/header_background_v1.jpg);
$headerFontColor: white;
$mainBackground:white;
$buttonColor:#00A6AE;
$navBorderColor: grey;
$fonts: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$fontSize: 15px/24px;
$mainTextColor: black;
$colorDescription: red;
$descriptionBorder: gray;
$articleBackground:#f1eded;
$articleTitleColor: #0fa8b9;
